.unf-list {
	list-style: none;
	padding-left: 0;
}

.top-padded {
	margin-top: 15px;
}

.positive {
	color: #92cc41;
}

.negative {
	color: #e76e55;
}

.container {
	padding: 4em;
}

.row {
	padding-bottom: 1em;
}

.input-row {
	gap: 1em;
}